h1 {
    font-size: 60px;
    color: black;
}

h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.w-px {
    width: 1080px;
}

iframe {
    border-radius: 10px;
    width: 1080px;
    height: 720px;
}

.video_section {
    background: rgb(201, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.color{
    border-color: red;
}
