<div class="aclonica-font fondo_bk overflow-auto">

    <h1 class="px-5 sm:px-56 pt-5 text-2xl sm:text-4xl">Bloody<span class="text-red-600"> Knee </span></h1>
    <div class="grid grid-cols-2 sm:px-56 pb-5 mt-3">
        <div>
            <div>
                <iframe src="https://www.youtube.com/embed/yTRg9r6q8k0?start=476&showinfo=0&modestbranding=1"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div class="video_section text-white sm:px-6 w-px mt-5">
                <div class="grid grid-cols-1 sm:grid-cols-2 pt-2">
                    <h2 class="text-start pb-2 pl-2">Entreno con Saco #1</h2>
                    <p class="text-start sm:pl-20 pb-2 pl-2 sm:pt-2">Descripción</p>
                    <p class="text-justify pb-2 pl-2 sm:pt-2 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam risus arcu, hendrerit vitae nibh at, maximus sollicitudin erat.
                        Aenean eget tincidunt velit. Nullam eu convallis purus. Pellentesque finibus
                        ex ut tincidunt fringilla. Praesent maximus ultrices erat pretium egestas.
                        In pharetra sem dolor, nec imperdiet orci commodo at. Donec non hendrerit lectus,
                        eu tempus ante. Duis quam est, scelerisque a nisi nec, consectetur convallis nisl.
                        Suspendisse eget dui urna. Praesent quis est convallis, elementum metus sed, varius ipsum.</p>
                    <div class="text-start sm:pl-20 pb-2 pl-2">
                        <p class="text-start">30:00 minutos</p>
                        <p>Entrenador: Juanjo Ortega</p>
                        <div class="flex items-center">
                            <div class="w-18 h-7 flex bg-white rounded-lg items-center">
                                <img src="../../../assets/img/disgusto4.png" class="w-18 h-5 px-2">
                                <img src="../../../assets/img/disgusto3.png" class="w-18 h-5 px-2">
                            </div>
                            <div class="pl-4 ml-20 w-18 h-7">
                                <button class="bg-white hover:bg-gray-400 text-black font-bold px-4 w-18 h-7 rounded-lg">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm:px-6 w-px mt-5">
                <div class="flex">
                <p>343 comentarios</p>
                <div class="px-6 flex">
                <img src="../../../assets/img/ordenarrojo1.png">
                <p>Ordenar Por</p>
                </div>
                </div>
                <div *ngFor="let comentario of comentarios" class="border-b-4 color mb-4">
                    <div class="flex items-center">
                        <img src="../../../assets/img/login1rojo2.png" class="w-8 h-8">
                        <p class="text-red-600 px-2">nombre usuario</p>
                    </div>
                    <p>{{comentario.texto}}</p>
                    <div class="mb-2 flex items-center">
                        <div class="w-18 h-7 flex rounded-lg items-center">
                            <img src="../../../assets/img/disgusto4.png" class="w-18 h-5 px-2">
                            <img src="../../../assets/img/disgusto3.png" class="w-18 h-5 px-2">
                        </div>
                        <div class="px-6">
                            <button class=" text-red-600 rounded-lg py-2">Responder</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="pl-96">
            <div *ngFor="let item of items">
                <img [src]="item.image" alt="{{ item.title }}" class="w-30 h-30">
                <p class="font-bold pb-4">{{ item.title }}</p>
            </div>
        </div>

    </div>

</div>