<div class="image-gallery">
    <img id="main-image" src="imagen-grande.jpg" alt="Imagen Principal del Producto">

    <div class="thumbnail-container">
        <img class="thumbnail" src="miniatura1.jpg" alt="Miniatura 1" onclick="changeImage('miniatura1.jpg')">
        <img class="thumbnail" src="miniatura2.jpg" alt="Miniatura 2" onclick="changeImage('miniatura2.jpg')">
        <img class="thumbnail" src="miniatura3.jpg" alt="Miniatura 3" onclick="changeImage('miniatura3.jpg')">
    </div>
</div>