<div class="sm:text-center aclonica-font fondo_bk overflow-auto">
    <h1 class="text-center mb-4">BO<span class="text-red-600">XEO</span></h1>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-5 sm:gap-4 sm:px-96 pb-20 px-10">
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300">Todos</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300">Con Saco</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300">Con Pareja</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300">Sin Equipamiento</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300">Con Equipamiento</button>
    </div>

    <h2 class="sm:text-start text-center sm:px-96 sm:mt-15">ENTRENOS CON SACO</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-12 sm:px-96 pb-20 text-center sm:text-justify">
        <div *ngFor="let item of items">
            <div class="group relative">
                <div class="flex items-center justify-center sm:justify-start">
                    <img src="{{ item.image }}"
                        class="max-w-full sm:max-w-none transition duration-300 transform group-hover:scale-105">
                </div>
                <h3 class="text-lg font-bold sm:mt-4">{{ item.title }}</h3>
            </div>
        </div>
    </div>

    <h2 class="sm:text-start text-center sm:px-96 sm:mt-15">ENTRENOS CON PAREJA</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-12 sm:px-96 pb-20 text-center sm:text-justify">
        <div *ngFor="let item of items2">
            <div class="group relative">
                <div class="flex items-center justify-center sm:justify-start">
                    <img src="{{ item.image }}"
                        class="max-w-full sm:max-w-none transition duration-300 transform group-hover:scale-105">
                </div>
                <h3 class="text-lg font-bold sm:mt-4">{{ item.title }}</h3>
            </div>
        </div>
    </div>

    <h2 class="sm:text-start text-center sm:px-96 sm:mt-15">ENTRENOS CON EQUIPAMIENTO</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-12 sm:px-96 pb-20 text-center sm:text-justify">
        <div *ngFor="let item of items3">
            <div class="group relative">
                <div class="flex items-center justify-center sm:justify-start">
                    <img src="{{ item.image }}"
                        class="max-w-full sm:max-w-none transition duration-300 transform group-hover:scale-105">
                </div>
                <h3 class="text-lg font-bold sm:mt-4">{{ item.title }}</h3>
            </div>
        </div>
    </div>

    <h2 class="sm:text-start text-center sm:px-96 sm:mt-15">ENTRENOS SIN EQUIPAMIENTO</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-12 sm:px-96 pb-20 text-center sm:text-justify">
        <div *ngFor="let item of items4">
            <div class="group relative">
                <div class="flex items-center justify-center sm:justify-start">
                    <img src="{{ item.image }}"
                        class="max-w-full sm:max-w-none transition duration-300 transform group-hover:scale-105">
                </div>
                <h3 class="text-lg font-bold sm:mt-4">{{ item.title }}</h3>
            </div>
        </div>
    </div>
</div>
