<div class="sm:text-center aclonica-font fondo_bk overflow-auto">
    <h1 class="text-center mb-4">MUAY<span class="text-red-600">THAI</span></h1>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-5 sm:gap-4 sm:px-96 pb-20 px-10">
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
            (click)="filterVideos(0)">Todos</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
            (click)="filterVideos(1)">Con Saco</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
            (click)="filterVideos(2)">Con Pareja</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
            (click)="filterVideos(3)">Sin Equipamiento</button>
        <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
            (click)="filterVideos(4)">Con Equipamiento</button>
    </div>


    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-12 sm:px-96 pb-20 text-center sm:text-justify">
        <div class="group relative" *ngFor="let video of filteredItems">
            <ng-container>
                <a routerLink="/player">
                    <div class="flex items-center justify-center sm:justify-start">
                        <img src="../../../assets/img/boxeopareja.png"
                            class="max-w-full sm:max-w-none transition duration-300 transform group-hover:scale-105">
                    </div>
                    <h3 class="text-lg font-bold sm:mt-4">{{video.title}}</h3>
                </a>
            </ng-container>
        </div>

    </div>
</div>
