h1 {
  font-size: 60px;
  color: black;
}

h2 {
  font-size: 30px;
  color: black;
}

.premium-icon {

  position:
    absolute;

  top:
    15px;

  right:
    10px;

  z-index:
    1;

  transition: transform 0.3s;

}


.star-icon {

  width:
    35px;

  height:
    auto;

}


.video-container:hover .premium-icon {

  transform:
    scale(1.5);
}
