<app-profile-menu class="fixed h-screen"></app-profile-menu>

<div class="content_container aclonica-font">
  <div class="background_profile" *ngIf="auth.user$ | async as user">
    <div class="content_profile_firstInfo">
      <!-- <div class="profile-img-container editable" (mouseenter)="showUploadButton = true"
        (mouseleave)="showUploadButton = false">
        <img class="rounded-full background_profile_img" [src]="user.picture" alt="Profile Image"
          routerLink="/profile" />
        <button style="position: absolute;" *ngIf="showUploadButton" (click)="uploadNewProfilePicture()">Edit</button>
      </div> -->
      <img class="rounded-full background_profile_img editable" [src]="user.picture" alt="Profile Image"
        routerLink="/profile" />

      <!-- <span class="user_name">Paco Sastre Lopez</span> -->

      <span class="user_nickname">{{ user.name }}</span>
      <span class="user_name">{{ user.nickname }}</span>
    </div>
  </div>
</div>

<div class="sm:text-center text-center aclonica-font overflow-auto mt-10" *ngIf="auth.user$ | async as user">
  <div *ngIf="selectedOption === 'editProfile'">

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 justify-center mx-28 mt-2">
      <!-- Nombre de usuario -->
      <div
        class="card bg-white-100 border border-red-600 rounded-lg shadow-md p-4 hover:transform hover:scale-105 transition duration-300">
        <h2 class="text-lg font-bold mb-2">Nombre:</h2>
        <input type="text" [(ngModel)]="user.given_name" placeholder="Nombre"
          class="bg-white border border-gray-300 rounded-md p-2 w-full">
      </div>
      <!-- Apellido -->
      <div
        class="card bg-white-100 border border-red-600 rounded-lg shadow-md p-4 hover:transform hover:scale-105 transition duration-300">
        <h2 class="text-lg font-bold mb-2">Apellido:</h2>
        <input type="text" [(ngModel)]="user.family_name" placeholder="Nombre"
          class="bg-white border border-gray-300 rounded-md p-2 w-full">
      </div>
      <!-- Cambiar nombre de usuario -->
      <div
        class="card bg-white-100 border border-red-600 rounded-lg shadow-md p-4 hover:transform hover:scale-105 transition duration-300">
        <h2 class="text-lg font-bold mb-2">Nombre de usuario:</h2>
        <input type="text" [(ngModel)]="user.nickname" placeholder="Nombre"
          class="bg-white border border-gray-300 rounded-md p-2 w-full">
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 justify-center mx-28 mt-5 mb-5">
      <!-- Correo electronico -->
      <div
        class="card bg-white-100 border border-red-600 rounded-lg shadow-md p-4 hover:transform hover:scale-105 transition duration-300">
        <h2 class="text-lg font-bold mb-2">Correo electronico:</h2>
        <input type="text" [(ngModel)]="user.email" placeholder="Correo electrónico"
          class="bg-white border border-gray-300 rounded-md p-2 w-full">
      </div>
      <!-- Foto de perfil -->
      <div
        class="card bg-white-100 border border-red-600 rounded-lg shadow-md p-4 flex flex-col justify-center items-center hover:transform hover:scale-105 transition duration-300">
        <h2 class="text-lg font-bold mb-2">Foto de perfil:</h2>
        <img class="rounded-full" width="50px" [src]="user.picture" alt="Profile Image" routerLink="/profile" />
      </div>
    </div>
  </div>


  <div *ngIf="selectedOption === 'likedVideos'">
    <h1>VIDEOS QUE ME HAN GUSTADO</h1>
    <!-- Swiper -->
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-18.jpg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-2.jpeg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-3.jpeg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-17.jpg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-18.jpg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-2.jpeg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-3.jpeg" />
        </li>
        <li class="swiper-slide">
          <img src="https://dean2020.edu.vn/wp-content/uploads/2019/03/anh-thien-nhien-dep-17.jpg" />
        </li>
      </ul>
    </div>

  </div>
  <div *ngIf="selectedOption === 'favouriteVideos'">
    <h1>MIS VIDEOS FAVORITOS</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 justify-center mx-20 md:mx-20 mt-5 mb-10">
      <div *ngFor="let video of my_videos"
        class="card bg-white-100 border border-red-600 rounded-lg shadow-md hover:transform hover:scale-105 transition duration-300">
        <img class="w-full" [src]="video.thumbnail" alt="Miniatura de Video">
        <div class="p-4">
          <h2 class="text-lg font-bold mb-2 flex">{{ video.title }}</h2>
          <div class="flex justify-between">
            <p class="text-sm mr-2"><b> Autor:</b> </p>
            <p class="text-sm text-gray-500"> {{ video.author }}</p>
          </div>
          <div class="flex justify-between">
            <p class="text-sm mr-2"><b>Categoría:</b></p>
            <p class="text-sm text-gray-500">{{ video.category }}</p>
          </div>
          <div class="flex justify-between">
            <p class="text-sm mr-2"><b>Visualizaciones:</b></p>
            <p class="text-sm text-gray-500">{{ video.views }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedOption === 'diets'">
    <h1>MIS DIETAS</h1>
    <div *ngFor="let diet of my_diets">
      <div
        class="card text-white bg-red-700 bg-white-100 border border-red-950  mx-44 rounded-lg shadow-md mb-2 p-4 justify-center items-center hover:transform hover:scale-105 transition duration-300 ">
        <h2 class="text-lg font-bold mb-2">{{diet.nombre}}</h2>
        <p>{{diet.descripcion}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="selectedOption === 'orders'">
    <h1> MIS PEDIDOS</h1>
  </div>
</div>
