<div class="overflow-auto fondo_bk aclonica-font">
  <div class="flex mt-5 justify-center" style="align-items: center">
    <h1 class="mt-5 bk_title">
      BLOODY<span style="color: red">KNEE</span>
    </h1>
    <img src="favicon.ico" alt="favicon" width="150px" height="150px" />
  </div>

  <!-- Qui som -->
  <div class="square-container">
    <div class="gray-square">
      <img class="thay_fighter" src="../../../assets/img/muay-thai-battle-dl4ksyqdx4s88el9-Photoroom.png-Photoroom.png"
        alt="" />
    </div>
    <div class="red-square">
      <p class="title_quisom">Quienes somos?</p>
      <p class="p_quisom">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur orci
        tortor, facilisis non tempus sit amet. Ipsum dolor elit. Curabitur roci
        yallah habdullillah
      </p>
    </div>
  </div>

  <!-- Videos destacados -->
  <div class="flex mt-14 justify-center" style="margin-top: 120px;">
    <div class="background-title">
      <p class="text-white subtitle_bk">VIDEOS DESTACADOS</p>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="grid grid-cols-3 gap-5">
      <iframe src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI" frameborder="0" allowfullscreen
        class="featured_video"></iframe>
      <iframe src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI" frameborder="0" allowfullscreen
        class="featured_video"></iframe>
      <iframe src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI" frameborder="0" allowfullscreen
        class="featured_video"></iframe>
      <iframe src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI" frameborder="0" allowfullscreen
        class="featured_video"></iframe>
      <iframe src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI" frameborder="0" allowfullscreen
        class="featured_video"></iframe>
      <iframe src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI" frameborder="0" allowfullscreen
        class="featured_video"></iframe>
    </div>
  </div>
  <!-- Cuotas -->
  <div class="flex mt-14 justify-center subtitle_bk" style="margin-top: 120px;">
    <div class="background-title">
      <p class="text-white">CUOTAS</p>
    </div>
  </div>
  <div class="quote_container">
    <div class="quote">
      <p class="p_quotes">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur orci
        tortor, facilisis non tempus sit amet.
      </p>
      <button class="quote_button">BASICA</button>
    </div>
    <div class="quote">
      <p class="p_quotes">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur orci
        tortor, facilisis non tempus sit amet.
      </p>
      <button class="quote_button">STANDARD</button>
    </div>
    <div class="quote">
      <p class="p_quotes">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur orci
        tortor, facilisis non tempus sit amet.
      </p>
      <button class="quote_button">PREMIUM</button>
    </div>
  </div>