<div class="overflow-auto fondo_bk">
    <div class="flex mt-5 justify-center">
      <h1 style="font-size: 40px" class="aclonica-font mt-5">
        BLOODY<span style="color: red">KNEE</span>
      </h1>
      <img src="favicon.ico" alt="favicon" class="movile_logo" />
    </div>

    <!-- Qui som -->
    <div class="square-container">
      <div class="gray-square"></div>
      <div class="red-square"></div>
    </div>

    <!-- Videos destacados -->
    <div class="flex mt-14 justify-center">
      <div class="background-title">
        <p class="aclonica-font text-white mt-1">VÍDEOS DESTACADOS</p>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <iframe
        src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI"
        frameborder="0"
        allowfullscreen
        class="featured_video"
      ></iframe>
      <iframe
        src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI"
        frameborder="0"
        allowfullscreen
        class="featured_video"
      ></iframe>
      <iframe
        src="https://www.youtube.com/embed/watch?v=iyGZ5R06_BI"
        frameborder="0"
        allowfullscreen
        class="featured_video"
      ></iframe>
    </div>

    <!-- Cuotas -->
    <div class="flex mt-14 justify-center">
      <div class="background-title">
        <p class="aclonica-font text-white mt-2">CUOTAS</p>
      </div>
    </div>
    <div class="flex flex-col items-center mt-5">
      <div class="quote">
        <p class="aclonica-font mt-2 mx-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          orci tortor, facilisis non tempus sit amet.
        </p>
        <button class="aclonica-font quote_button mt-3">BASICA</button>
      </div>
    </div>
    <div class="flex flex-col items-center mt-5">
      <div class="quote">
        <p class="aclonica-font mt-2 mx-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          orci tortor, facilisis non tempus sit amet.
        </p>
        <button class="aclonica-font quote_button mt-3">STANDARD</button>
      </div>
    </div>
    <div class="flex flex-col items-center mt-5">
      <div class="quote">
        <p class="aclonica-font mt-2 mx-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          orci tortor, facilisis non tempus sit amet.
        </p>
        <button class="aclonica-font quote_button mt-3">PREMIUM</button>
      </div>
    </div>
</div>
