<div class="area"></div>
<nav class="main-menu ">
  <ul>
    <li>
      <a (click)="selectMenuOption('editProfile')">
        <img class="fa fa-home fa-2x icon" src="../../../../assets/img/svg/bxs-edit.svg" alt="" />
        <span class="nav-text">Editar perfil</span>
      </a>
    </li>
    <li>
      <a (click)="selectMenuOption('likedVideos')">
        <img class="fa fa-home fa-2x icon" src="../../../../assets/img/svg/bxs-like.svg" alt="" />
        <span class="nav-text"> Videos que me han gustado </span>
      </a>
    </li>
    <li class="has-subnav">
      <a (click)="selectMenuOption('favouriteVideos')">
        <img class="fa fa-home fa-2x icon" src="../../../../assets/img/svg/bxs-star.svg" alt="" />
        <span class="nav-text"> Mis videos favoritos </span>
      </a>
    </li>
    <li class="has-subnav">
      <a (click)="selectMenuOption('diets')">
        <img class="fa fa-home fa-2x icon" src="../../../../assets/img/svg/bxs-baguette.svg" alt="" />
        <span class="nav-text">Mis dietas</span>
      </a>
    </li>
    <li class="has-subnav">
      <a (click)="selectMenuOption('orders')">
        <img class="fa fa-home fa-2x icon" src="../../../../assets/img/svg/bxs-cart.svg" alt="" />
        <span class="nav-text"> Mis pedidos </span>
      </a>
    </li>
  </ul>
</nav>
