<div
  class="sm:mx-44 mx-10 aclonica-font sm:rounded-full bg-gradient-to-r from-red-500 to-red-900 text-white items-center text-center borde">
  <div class="grid sm:grid-cols-5 grid-cols-1 sm:mx-7">
    <div class="flex justify-center items-center" (click)="selectMenuOption('editProfile')">
      <img class="icon" src="../../../../assets/img/svg/bxs-edit.svg" alt="perfil" />
      <p>Editar perfil</p>
    </div>

    <div class="flex justify-center items-center" (click)="selectMenuOption('likedVideos')">
      <img class="icon" src="../../../../assets/img/svg/bxs-like.svg" alt="videoslikeados" />
      <p>Videos que me han gustado</p>
    </div>

    <div class="flex justify-center items-center" (click)="selectMenuOption('favouriteVideos')">
      <img class="icon" src="../../../../assets/img/svg/bxs-star.svg" alt="videosfavoritos" />
      <p>Mis videos favoritos</p>
    </div>

    <div class="flex justify-center items-center" (click)="selectMenuOption('diets')">
      <img class="icon" src="../../../../assets/img/svg/bxs-baguette.svg" alt="dietas" />
      <p>Mis dietas</p>
    </div>

    <div class="flex justify-center items-center" (click)="selectMenuOption('orders')">
      <img class="icon" src="../../../../assets/img/svg/bxs-cart.svg" alt="pedidos" />
      <p>Mis pedidos</p>
    </div>
  </div>
</div>