<div class="mx-44 aclonica-font rounded-full flex-items-center justify-start bg-gradient-to-r from-red-500 to-red-900 text-white">
  <div class="grid">
  <div class="menu-option" (click)="selectMenuOption('editProfile')">
    <img class="icon" src="../../../../assets/img/svg/bxs-edit.svg" alt="perfil" />
    <p>Editar perfil</p>
  </div>

  <div class="menu-option" (click)="selectMenuOption('likedVideos')">
    <img class="icon" src="../../../../assets/img/svg/bxs-like.svg" alt="videoslikeados" />
    <p>Videos que me han gustado</p>
  </div>

  <div class="menu-option" (click)="selectMenuOption('favouriteVideos')">
    <img class="icon" src="../../../../assets/img/svg/bxs-star.svg" alt="videosfavoritos" />
    <p>Mis videos favoritos</p>
  </div>

  <div class="menu-option" (click)="selectMenuOption('diets')">
    <img class="icon" src="../../../../assets/img/svg/bxs-baguette.svg" alt="dietas" />
    <p>Mis dietas</p>
  </div>

  <div class="menu-option" (click)="selectMenuOption('orders')">
    <img class="icon" src="../../../../assets/img/svg/bxs-cart.svg" alt="pedidos" />
    <p>Mis pedidos</p>
  </div>
  </div>
</div>

