<div class="fixed h-screen w-8 lg:w-16 p-3 bg-red-600 text-center aclonica-font text-xs text-white hidden lg:block">
  <div>
    <div class="mb-10">
      <a routerLink="/home">
      <img src="../../../assets/img/logo.png" alt="logo">
      </a>
    </div>
    <div class="sidebar-section my-5 hover:opacity-40 cursor-pointer">
      <img src="../../../assets/img/icons8_boxer_512.png" alt="Muay Thai Image"
        class="sidebar-img">
      <p class="hidden lg:block">Thai</p>
    </div>
    <div class="sidebar-section my-5 hover:opacity-40 cursor-pointer">
      <img src="../../../assets/img/boxeo1.png" alt="Boxing Image" class="sidebar-img">
      <p class="hidden lg:block">Boxeo</p>
    </div>
    <div class="sidebar-section my-5 hover:opacity-40 cursor-pointer">
      <img src="../../../assets/img/icons8_fitness_501.png" alt="Fitness Image"
        class="sidebar-img">
      <p class="hidden lg:block">Fitness</p>
    </div>
    <div class="sidebar-section my-5 hover:opacity-40 cursor-pointer">
      <a routerLink="/diets">
        <img src="../../../assets/img/dietas1.png" alt="Diets Image"
          class="sidebar-img">
        <p class="hidden lg:block">Dietas</p>
      </a>
    </div>
    <div class="sidebar-section my-5 hover:opacity-40 cursor-pointer">
      <img src="../../../assets/img/eccommerce1.png" alt="Shop Image"
        class="sidebar-img">
      <p class="hidden lg:block">Tienda</p>
    </div>
    <div class="sidebar-section my-5 hover:opacity-40 cursor-pointer">
      <img src="../../../assets/img/login1.png" alt="Shop Image" class="sidebar-img"
        (click)="auth.loginWithRedirect()">
      <p class="hidden lg:block">Perfil</p>
    </div>
  </div>
</div>







