<div class="sm:text-center aclonica-font fondo_bk overflow-auto">
    <h1 class="text-center ">MERCHAN<span class="text-red-600">DISING</span></h1>
    <div class="grid grid-cols-4 px-96">
        <p></p>
        <h2>Disponibilidad</h2>
        <h2>Precio</h2>
        <p></p>
        <p></p>
        <div class="flex items-center px-6">
            <input type="checkbox">
            <p>En Stock (8)</p>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="flex items-center px-6">
            <input type="checkbox">
            <p>Fuera de Stock (6)</p>
        </div>
        <mat-slider min="0" max="80" step="0.5" value="1.5">
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>