<div class="sm:text-center aclonica-font fondo_bk overflow-auto">
  <h1 class="text-center ">DIE<span class="text-red-600">TAS</span></h1>
  <div class="IMC">
    <div class="grid grid-cols-1">
      <div class="mb-4">
        <h2 class="text-lg sm:text-2xl text-center">CALCULAR TU ÍNDICE DE MASA CORPORAL</h2>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-4">
      <div class="flex">
        <input type="text" placeholder="Estatura" class="w-full px-3 py-2 border rounded-md" [(ngModel)]="height">
        <span class="ml-2">cm</span>
      </div>
      <div class="flex">
        <input type="text" placeholder="Peso" class="w-full px-3 py-2 border rounded-md" [(ngModel)]="weight">
        <span class="ml-2">kg</span>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 mt-4">
      <div>
        <button class="bg-red-600 text-white rounded-lg px-4 py-2 hover:bg-red-500"
          (click)="calculate()">Calcular</button>
      </div>
      <div class="mt-2 sm:mt-0">
        <p>TU IMC ES: {{ result !== null ? result.toFixed(2) : '__' }}</p>
        <p *ngIf="errorMessage" class="text-red-600">{{ errorMessage }}</p>
      </div>
    </div>
    <div class="text-center text-white grid grid-cols-1 sm:grid-cols-4 sm:mt-4">
      <div class="bg-red-600 rounded-sm mb-2 sm:mr-4 flex flex-col" [ngClass]="{'flash': flashingIndex === 0}">
        <span class="mr-2">IMC < 18.5</span>
            <span>Peso Bajo</span>
      </div>
      <div class=" bg-red-600 rounded-sm mb-2 sm:mr-4 flex flex-col" [ngClass]="{'flash': flashingIndex === 1}">
        <span class="mr-2">18.5 < 24.9</span>
            <span>Normal</span>
      </div>
      <div class=" bg-red-600 rounded-sm mb-2 sm:mr-4 flex flex-col" [ngClass]="{'flash': flashingIndex === 2}">
        <span class="mr-2">25 < 29.9</span>
            <span>Sobrepeso</span>
      </div>
      <div class=" bg-red-600 rounded-sm mb-2 sm:mr-4 flex flex-col" [ngClass]="{'flash': flashingIndex === 3}">
        <span class="mr-2">IMC > 30</span>
        <span>Obesidad</span>
      </div>
    </div>
  </div>

  <div class="mt-10">
    <h1 class="text-center">TI<span class="text-red-600">POS</span></h1>
    <!-- Button to activate admin mode -->
    <div class="flex flex-col justify-center items-center mb-4 mt-4" *ngIf="role == 'admin'">
      <div class="w-2/4 h-auto bg-red-600 rounded-full">
        <p class="my-2 mx-2 text-3xl text-white">HERRAMIENTAS DE ADMINISTRACIÓN</p>
        <div class="flex flex-row my-3 justify-center">
          <button (click)="addDiet()"
            class="bg-white rounded-full w-52 mx-3 px-1 py-1 text-green-500 border border-solid border-green-500 hover:scale-125 transition-transform duration-300">Agregar
            dieta
            <span
              class="w-44 group-hover:inline-block absolute top-full left-1/2 transform -translate-x-1/2 -mt-1/2 bg-white text-gray-400 text-xs px-2 py-1 rounded-md shadow-md">Añade
              un nuevo tipo de dieta</span>
          </button>
          <button
            class="bg-white rounded-full w-52 mx-3 px-1 py-1 text-lime-500 border border-solid border-lime-500 hover:scale-125 transition-transform duration-300"
            (click)=" activateEditMode()">Editar
            dieta
            <span
              class="w-44 group-hover:inline-block absolute top-full left-1/2 transform -translate-x-1/2 -mt-1/2 bg-white text-gray-400 text-xs px-2 py-1 rounded-md shadow-md">Activar
              el modo de edición de dietas</span></button>
          <button
            class="bg-white rounded-full w-52 mx-3 px-1 py-1 text-red-500 border border-solid border-red-500 hover:scale-125 transition-transform duration-300"
            (click)="activateDeleteMode()">Eliminar
            dieta
            <span
              class="w-44 group-hover:inline-block absolute top-full left-1/2 transform -translate-x-1/2 -mt-1/2 bg-white text-gray-400 text-xs px-2 py-1 rounded-md shadow-md">Activar
              el modo de eliminar dietas</span></button>
        </div>
      </div>
    </div>

    <div *ngFor="let diet of diets">
      <!-- delete or edit buttons -->
      <div class="flex-row mt-10">
        <button (click)="openDeleteModal(diet)" *ngIf="deleteAdminMode == true"
          class="w-auto h-auto mx-2 my-2 border border-red-600 text-red-600 rounded-full">
          <p class="px-2 py-2 flex justify-center items-center"> <img src="../../../assets/img/svg/bx-trash.svg" alt="">
          </p>
        </button>
        <button (click)="openEditModal(diet.id)" *ngIf="editAdminMode == true"
          class="w-auto h-auto mx-2 my-2 border border-lime-600 text-lime-600 rounded-full">
          <p class="px-2 py-2 flex justify-center items-center"> <img src="../../../assets/img/svg/bx-edit.svg" alt=""
              class="fill-black">
          </p>
        </button>
      </div>
      <div class="TIPES text-justify mb-5">
        <div class="border-b-4">
          <h2 class="text-xl"><b>{{diet.title}}</b></h2>
          <p>{{diet.description}}</p>
          <div class="text-end mb-8">
            <button class="bg-white text-red-600 rounded-lg px-4 py-2 hover:bg-red-500"
              (click)="openModal(diet.content)">Leer más</button>
            <div
              [ngClass]="{'fixed inset-0 flex items-center justify-center z-50': modalStates[diet.content], 'hidden': !modalStates[diet.content]}">
              <div class="absolute inset-0 backdrop-blur-xl"></div>
              <div class="bg-white p-2 rounded-lg z-50">
                <img [src]="'../../../assets/img/img_dietas/' + diet.content" style="width: 600px; height: 700px;">
                <button class="mt-4 bg-red-500 text-white px-4 py-2 rounded mx-1"
                  (click)="closeModal(diet.content)">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODALS SECTION -->

    <!-- EDIT MODAL -->
    <div *ngIf="editModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50">
      <div class="bg-white rounded-lg p-6 w-2/3 mx-auto">
        <h2 class="text-xl font-semibold mb-4">Editar <span class="text-red-600">{{editedDiet.title}}</span></h2>
        <form (submit)="submitEditDietForm()">
          <!-- Title -->
          <div class="mb-4">
            <label for="dietTitle" class="block text-black">Título de la Dieta:</label>
            <input type="text" id="dietTitle" name="dietTitle" [(ngModel)]="editedDiet.title"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          </div>
          <!-- Description -->
          <div class="mb-4">
            <label for="dietDescription" class="block text-black">Descripción de la Dieta:</label>
            <textarea id="dietDescription" name="dietDescription" [(ngModel)]="editedDiet.description"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700 h-52"></textarea>
          </div>
          <!-- Content -->
          <div class="mb-4">
            <label for="dietContent" class="block text-black">Contenido de la Dieta:</label>
            <input id="dietContent" name="dietContent" [(ngModel)]="editedDiet.content"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          </div>
          <!-- Author -->
          <div class="mb-4">
            <label for="dietAuthor" class="block text-black">Autor de la Dieta:</label>
            <input type="text" id="dietAuthor" name="dietAuthor" [(ngModel)]="editedDiet.author"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          </div>
          <!-- Botones de acción -->
          <div class="flex justify-center">
            <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg mr-2"
              (click)="closeEditModal()">Cancelar</button>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END EDIT MODAL -->

    <!-- CREATE MODAL -->
    <div *ngIf="createModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50">
      <div class="bg-white rounded-lg p-6 w-2/3 mx-auto">
        <h2 class="text-xl font-semibold mb-4">Crear Dieta</h2>
        <form [formGroup]="createDietForm" (submit)="submitCreateDietForm()">
          <!-- Title -->
          <div class="mb-4">
            <label for="dietTitle" class="block text-black">Título de la Dieta:</label>
            <input type="text" id="dietTitle" name="dietTitle" formControlName="dietTitle"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
            <!-- Error requerido -->
            <span
              *ngIf="createDietForm.get('dietTitle')?.hasError('required') && createDietForm.get('dietTitle')?.touched"
              class="text-red-500">Campo
              obligatorio</span>
            <!-- invalid format error -->
            <span *ngIf="createDietForm.get('dietTitle')!.hasError('pattern')&& createDietForm.get('dietTitle')?.dirty"
              class="text-red-500">Formato
              incorrecto</span>
            <!-- max length -->
            <span
              *ngIf="createDietForm.get('dietTitle')!.hasError('maxLength') && createDietForm.get('dietTitle')?.dirty"
              class="text-red-500">Formato
              incorrecto</span>
          </div>
          <!-- Description -->
          <div class="mb-4">
            <label for="dietDescription" class="block text-black">Descripción de la Dieta:</label>
            <textarea id="dietDescription" name="dietDescription" formControlName="dietDescription"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
            </textarea>
            <!-- required error -->
            <span *ngIf="createDietForm.get('dietDescription')!.hasError('required')" class="text-red-500">Campo
              obligatorio</span>
            <!-- invalid format error -->
            <span *ngIf="createDietForm.get('dietDescription')!.hasError('pattern')" class="text-red-500">Formato
              incorrecto</span>
          </div>
          <!-- Content -->
          <div class="mb-4">
            <label for="dietContent" class="block text-black">Contenido de la Dieta:</label>
            <input id="dietContent" name="dietContent" formControlName="dietContent"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700"
              placeholder="Este campo se establecerá automaticamente" readonly>
            <!-- Error requerido -->
            <span
              *ngIf="createDietForm.get('dietContent')?.hasError('required') && createDietForm.get('dietContent')?.touched"
              class="text-red-500">Campo
              obligatorio</span>
          </div>
          <!-- Upload image -->
          <div class="mb-4">
            <label for="dietContent" class="block text-black">Imagen de la Dieta:</label>
            <div class="items-center justify-center">
              <input type="file" id="dietContent" name="dietContent" accept="image/*" (change)="handleImageUpload($event)"
                class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700"
                formControlName="dietContent">
            </div>
          </div>
          <!-- Author -->
          <div class="mb-4">
            <label for="dietAuthor" class="block text-black">Autor de la Dieta:</label>
            <input type="text" id="dietAuthor" name="dietAuthor" formControlName="dietAuthor"
              class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
            <!-- required error -->
            <!-- Error requerido -->
            <span
              *ngIf="createDietForm.get('dietAuthor')?.hasError('required') && createDietForm.get('dietAuthor')?.touched"
              class="text-red-500">Campo
              obligatorio</span>
            <!-- invalid format error -->
            <span
              *ngIf="createDietForm.get('dietAuthor')!.hasError('pattern') && createDietForm.get('dietAuthor')?.dirty"
              class="text-red-500">Formato
              incorrecto</span>
          </div>
          <!-- Botones de acción -->
          <div class="flex justify-center">
            <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg mr-2"
              (click)="closeCreateModal()">Cancelar</button>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Guardar</button>
            <!-- <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg"
              [disabled]="createDietForm.invalid">Guardar</button> -->
          </div>
        </form>
      </div>
    </div>
    <!-- END CREATE MODAL -->

    <!-- CONFIRM DELETE MODAL -->
    <!-- Modal para confirmar eliminación de producto -->
    <div *ngIf="deleteModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50">
      <div class="bg-white rounded-lg p-6 max-w-md mx-auto">
        <h2 *ngIf="selectedDiet !== null" class="text-xl font-semibold mb-4">Eliminar <b class="text-red-600">
            {{selectedDiet.title}}</b></h2>
        <p *ngIf="selectedDiet !== null">¿Estás seguro de que quieres eliminar el producto con ID <span
            class="text-red-600">
            {{selectedDiet.id}}</span>?</p>
        <p *ngIf="selectedDiet === null">Por favor, selecciona un producto para eliminar.</p>
        <div class="flex justify-end mt-4">
          <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg mr-2"
            (click)="cancelDelete()">Cancelar</button>
          <button type="button" class="bg-red-500 text-white px-4 py-2 rounded-lg"
            (click)="confirmDelete()">Eliminar</button>
        </div>
      </div>
    </div>
    <!-- END DELETE MODAL -->
    <!-- END MODAL SECTION -->

    <div>
      <button (click)="openPopup()"
        class="w-16 h-16 flex justify-center items-center chatbot-toggle-button transition-transform duration-300 transform hover:scale-110">
        <img src="../../../assets/img/bot4.webp" alt="Chatbot Toggle">
      </button>
    </div>

  </div>
