<div class="sm:hidden block">
  <div class="absolute bottom-6 left-5 cursor-pointer z-50">
    <button class="fixed-button" (click)="expandDiv()"></button>
  </div>
  <div id="expandibleDiv" class="expandible-div mx-auto aclonica-font text-white z-50">
    <ul class="flex flex-col mt-3">
      <li (click)="expandDiv()">
        <a role="button" class="flex" routerLink="/thaivideos">
          <img class="icon" src="../../../../assets/img/icons8_boxer_512.webp" alt="" />
          <span class="nav-text">Muay Thai</span>
        </a>
      </li>
      <hr>
      <li (click)="expandDiv()">
        <a role="button" class="flex" routerLink="/boxingvideos">
          <img class="icon" src="../../../../assets/img/boxeo1.webp" alt="" />
          <span class="nav-text"> Boxeo </span>
        </a>
      </li>
      <hr>
      <li (click)="expandDiv()">
        <a role="button" class="flex" routerLink="/fitnessvideos">
          <img class="icon" src="../../../../assets/img/icons8_fitness_501.webp" alt="" />
          <span class="nav-text"> Fitness </span>
        </a>
      </li>
      <hr>
      <li (click)="expandDiv()">
        <a role="button" class="flex" routerLink="/diets">
          <img class="icon" src="../../../../assets/img/dietas1.webp" alt="" />
          <span class="nav-text">Dietas</span>
        </a>
      </li>
      <hr>
      <li (click)="expandDiv()">
        <a role="button" class="flex" routerLink="/merchandising">
          <img class="icon" src="../../../../assets/img/eccommerce1.webp" alt="" />
          <span class="nav-text">Merchandising</span>
        </a>
      </li>
      <hr>
      <div *ngIf="auth.user$ | async as user">
        <li (click)="expandDiv()">
          <a routerLink="/profile" class="flex">
            <img class="rounded-full icon" [src]="user.picture" alt="Profile Image">
            <p>Perfil</p>
          </a>
        </li>
        <hr>
      </div>
      <li class="cursor-pointer" (click)="expandDiv()">
        <a class="flex" (click)="auth.logout()">
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <img src="../../../assets/img/logout.webp" alt="Logout Image" class="icon">
            <p>Logout</p>
          </ng-container>
        </a>
        <ng-template #loggedOut>
          <a class="flex" (click)="auth.loginWithRedirect()">
            <img src="../../../assets/img/login1.webp" alt="Profile Image" class="icon">
            <p>Login</p>
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
