<div class="chat-container">

  <!-- Chat history section -->
  <div class="chat-history">

    <!-- Iterate through chat messages -->
    <div *ngFor="let message of chatHistory">

      <!-- Display user or bot message -->
      <div class="flex items-center">
        <!-- Bot avatar -->
        <img *ngIf="message.sender === 'bot'" src="../../../assets/img/bot4.webp" class="w-8 h-8">

        <!-- Message text -->
        <p [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
          {{ message.text }}
        </p>

        <!-- User avatar -->
        <img *ngIf="message.sender === 'user'" src="../../../assets/img/login1.webp" class="w-10 h-8 pr-2">
      </div>
    </div>
  </div>
  <!-- Chat input section -->

  <div class="chat-input">
    <input [(ngModel)]="userInput" class="text-black" placeholder="Escribe un mensaje...">
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
